"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

set match-hidden-files off
set completion-ignore-case on
set visible-stats on
set show-all-if-ambiguous on
set show-all-if-unmodified on
"\C-f": menu-complete

set completion-display-width 1
set completion-ignore-case on
set completion-prefix-display-length 2

set mark-directories on
set mark-symlinked-directories on